@import "tailwindcss";

@layer utilities {
  .bg-tech-dots {
    background-image: radial-gradient(#DC2626 0.5px, transparent 0.5px);
    background-size: 28px 28px;
  }

  .bg-tech-grid {
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Base custom smooth transitions & dark scrollbar */
html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #F4F4F5;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

::selection {
  background-color: #DC2626;
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090B;
}

::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #DC2626;
}
